<app-header></app-header>
<!-- <div class="">

</div> -->
<img src="../assets/bg-img.png" alt="" class="bg-img">
<div class="signin-dialog" *ngIf="isEmailPage">
  <div style="align-self: center;">
    <img src="../assets/login.svg" alt="" style="margin: 1rem;">
  </div>
  <div class="sing-in-text">
    Lets get you signed in
  </div>
  <div style="font-size: 0.8rem; align-self: center; margin-bottom: 1rem;">
    Enter your email address to get started
  </div>
  <div style="margin-bottom: 1rem;">
    <input type="email" matInput placeholder="Email Address" [formControl]="email">
  </div>
  <div>
    <button mat-flat-button color="primary" [disabled]="!email.valid" (click)="onClickContinue()">Continue</button>
  </div>
</div>
<div class="signin-dialog" *ngIf="!isEmailPage">
  <div style="align-self: center;">
    <img src="../assets/key.svg" alt="" style="margin: 1rem;">
  </div>
  <div class="sing-in-text">
    Verify your email
  </div>
  <div style="font-size: 0.8rem; align-self: center; margin-bottom: 1rem;">
    Enter the 6-digit code we sent to
  </div>
  <div style="font-size: 0.8rem; align-self: center; margin-bottom: 1rem; font-weight: bold;">
    {{email.value}}
  </div>
  <div>
    <input type="number" matInput placeholder="Email OTP" [(ngModel)]="otp">
  </div>
  <div class="otp-div">
    Didnt receive an OTP ? <span *ngIf="counter">Try again in <b>{{counter}}</b> seconds</span> 
    <span *ngIf="!counter">Try &nbsp;</span> <span *ngIf="!counter" style="color: limegreen; font-weight: 500; cursor: pointer;" (click)="startCounter()">now</span>
  </div>
  <div>
    <button mat-flat-button color="primary" [disabled]="!isValidOTP()" (click)="onFinish()">Continue</button>
  </div>
  <div>
    <button mat-flat-button color="warn" (click)="onClickBack()">Go Back</button>
  </div>
</div>
<app-footer></app-footer>